{% extends 'tasks/partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class='container'>
    <div class='row'>
        <div class='col-md-4 offset-md-4'>
            <div class='card'>
                <div class='card-header text-white bg-info'>
                    <div class'card-title>
                        Register
                    </div>
                </div>
                <div class='card-body'>                   
                    <form method="POST">
                        {% csrf_token %}
                            {{form|crispy}}
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Sign Up</button>`
                            </div>   
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already Have An Account? <a href="{% url 'login' %}">Sign In</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}