{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'users/css/bootstrap.min.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'users/css/datatables.min1.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'users/css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'users\fontawesome\css\all.css' %}">
<!-- <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> -->