{% load static %}

<script type="text/javascript" src="{% static 'users/js/jquery-3.4.1.slim.min.js' %}"></script>

<script type="text/javascript" src="{% static 'users/js/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/vfs_fonts.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'users/js/dataTables.min1.js' %}"></script> -->



<script type="text/javascript" src="{% static 'users/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/bootstrap.min.js' %}"></script>