{% extends 'tasks/partials/base.html' %}
<!-- {% load crispy_forms_tags %} -->
{% load widget_tweaks %}
{% block content %}
    <div class="content-section emp-profile">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update {{supplier_name}}</legend>
                <div class="mb-3">
                    {% render_field supplier_form.supplier_name classupplier_s="form-control" placeholder="Supplier Name" %}
                  </div>
                  <div class="mb-3">
                    {% render_field supplier_form.supplier_phone class="form-control" placeholder="Phone Number"%}
                  </div>
                  <div class="mb-3">
                    {% render_field supplier_form.supplier_address class="form-control" placeholder="Address" %}
                  </div>
                  <div class="mb-3">
                    {% render_field supplier_form.email class="form-control" placeholder="Email" %}
                  </div>
                  <div class="mb-3">
                    {% render_field supplier_form.website class="form-control" placeholder="Website" %}
                  </div>
                  <div class="mb-3">
                    {% render_field supplier_form.notes class="form-control" %}
                  </div>
                 
            </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>   
        </form>
    </div>
{% endblock content %}